<nav class="navbar navbar-expand-lg navbar-dark bg-dark">




  <div class="collapse navbar-collapse" id="navbarexample">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
     
      
    </ul>
    
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login
        </a>
      </li>

     
     
      <li class="nav-item" >
        <a class="nav-link" routerLink="/logout">Logout
        
        </a>
      </li>
      
      
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register
         </a>
      </li>
      
    
      
    </ul>
    
    
   
  </div>
</nav>