<div class="col-md-6">
	<h2 class="text-center">Edit User</h2>
	<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Name : </label> <input formControlName="name"
				placeholder="name" name="name" class="form-control" id=name>
		</div>
		<div class="form-group">
			<label for="name">Age : </label> <input formControlName="age"
				placeholder="age" name="age" class="form-control" id=age>
		</div>
		<div class="form-group">
			<label for="active">Active : </label> <input formControlName="active"
				disabled="disabled" placeholder="active" name="active"
				class="form-control" id=active>
		</div>
		<button class="btn btn-success">Update</button>
	</form>
</div>